@font-face {
    font-family: 'BodoniBold';
    src:
        local('BodoniBold'),
        url('../fonts/LibreBodoni/LibreBodoni-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'BodoniRegular';
    src:
        local('BodoniRegular'),
        url('../fonts/LibreBodoni/LibreBodoni-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Miama';
    src:
        local('Miama'),
        url('../fonts/Miama/miama.otf') format('truetype');
}

@font-face {
    font-family: 'Dubiel';
    src:
        local('Dubiel'),
        url('../fonts/DubielPlain/Dubiel.ttf') format('truetype');
}
