@import "src/styles/vars";

.login-page {
  width: 100%;
  padding-bottom: 40px;

  .login-form {
    width: 300px;
    padding: 10px;
    margin: 40px auto 0;
    border-radius: 6px;
    box-shadow: $box-shadow;
  }

}