@import './src/styles/vars';

.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 40px;

  .header {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Caveat', cursive;
    font-weight: 400;
    font-size: 58px;
    color: #31405b;
    user-select: none;

    @include for-size(lg) {
      margin-bottom: 20px;
    }
  }

  .cards {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;

    @include for-size(lg) {
      gap: 20px;
    }
  }
}
