.photo {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  padding: 10px;

  &__inner {
    padding-bottom: 75%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
    cursor: zoom-in;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.03, 1.03);
    }
  }
}
